.slide-2 {
    background-color: white;
    .introduction{
        width: 17rem;
        left: 1rem;
        right: 1rem;
        font-size: 0.7rem;
        font-weight: lighter;
        position: absolute;
        margin: 0 auto;
        top: 4rem;
    }
    .title {
        font-size: 1rem;
        position: absolute;
        top: 3rem;
        font-weight: bold;
        left: 1rem;
        right: 0;
        //text-align: center;
}
    .item-image {
      //width: 18rem;
      height: 18rem;
      //background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 15rem;
      left: 0;
      right: 0;
      margin: auto;
      background-image: url('../images/ALL.jpg');
    }
}
